form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
}

input {
  height: 25px;
  font-size: 14pt;
  text-align: center;
}

#add-button {
  margin: 10px;
}
