form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
}

input {
  height: 25px;
  font-size: 14pt;
  text-align: center;
}

#add-button {
  margin: 10px;
  /* background-color: rgb(128, 161, 243); */
}

.add {
  background-color: rgba(49, 49, 121, 0.564);
  border-radius: 10px;
}
