form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 10px;
}

input {
  height: 25px;
  font-size: 14pt;
  text-align: center;
}

#add-button {
  background-color: rgba(49, 49, 121, 0.9);
  border: none;
  border-radius: 10;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

#add-button:hover {
  background-color: white;
  color: rgba(49, 49, 121, 0.9);
}

.add {
  background-color: rgba(49, 49, 121, 0.564);
  border-radius: 10px;
}
