#footer {
  margin: 0px;
}

a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.4s;
}
a:hover {
  color: rgb(77, 77, 249);
}
.footer {
  width: 100%;
  background-color: rgba(49, 49, 121, 0.564);
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  a {
    font-size: larger;
    font-weight: bolder;
  }
  #footer {
    font-size: larger;
  }
}
