.dark-home {
  background-color: rgba(49, 49, 121, 0.564);
  border-radius: 10px;
}

.light-home {
  color: rgba(49, 49, 121, 1);
}

#featured {
  display: flex;
  justify-content: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 60vh;
  border-radius: 20px;
  margin: 0px 50px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: rgba(49, 49, 121, 0.75);
  text-align: center;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  #featured {
    justify-content: flex-start;
    margin-left: 50px;
  }
}
