.add-button {
  background-color: rgba(49, 49, 121, 0.9);
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.add-button:hover {
  background-color: white;
  color: rgba(49, 49, 121, 0.9);
}

#list-div {
  background-color: rgba(49, 49, 121, 0.564);
  border-radius: 10px;
  margin: 5px 10px;
}

.list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* color: black; */
  justify-content: center;
}

#list-item:hover {
  color: rgb(77, 77, 249);
}

#list-item {
  color: aliceblue;
  /* color: black; */
  display: flex;
  border-radius: 10px;
  /* background-color: rgba(77, 170, 223, 0.8); */
  margin: 20px 10px;
  justify-content: center;
  padding: 5px;
  transition-duration: 0.4s;
}

.article-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #list-item {
    margin: 20px 50px;
    font-size: larger;
  }
}
