.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(49, 49, 121, 0.564);
  width: 100%;
}
.nav-item {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.nav-item:hover {
  color: rgb(77, 77, 249);
}

.dark-header {
  color: aliceblue;
  margin: 15px;
  text-decoration: underline;
}

.light-header {
  color: rgba(49, 49, 121, 1);
  margin: 15px;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  #header {
    font-size: x-large;
    font-weight: bolder;
  }
}
