.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(77, 170, 223, 0.8);
  width: 100%;
}
.nav-item {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}
.nav-item:hover {
  color: white;
}
#header {
  color: aliceblue;
  margin: 15px;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  #header {
    font-size: larger;
  }
}
