.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(49, 49, 121, 0.564);
  width: 100%;
  margin-bottom: 20px;
}
.nav-item {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.nav-item:hover {
  color: rgb(77, 77, 249);
}

.dark-header {
  display: flex;
  color: aliceblue;
  margin: 10px;
  text-decoration: underline;
  align-items: flex-start;
}

.light-header {
  display: flex;
  color: rgba(49, 49, 121, 1);
  margin: 10px;
  text-decoration: underline;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .light-header,
  .dark-header {
    font-size: 50px;
    /* font-weight: bolder; */
  }
  .nav-item {
    font-size: 25px;
  }
}
