@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  /* font-family: "Ubuntu", sans-serif; */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1;
}

#mode-button {
  width: 100px;
  margin-left: 1px;
  background-color: rgba(72, 72, 123, 0.803);
  border-radius: 5px;
  color: white;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition: 0.4s;
}

#mode-button:hover {
  background-color: white;
  color: rgba(72, 72, 123, 1);
}

.dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://b2bm.s3.amazonaws.com/styles/default_image/s3/istock-1186776186_edited.jpg?itok=kOcJfvtN");
}

.light {
  background-image: url("https://freepngimg.com/thumb/leaf/85025-brain-circle-leaf-human-neuroscience-png-free-photo.png");
}
