@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  background-image: url("https://www.york.ac.uk/media/study/courses/postgraduate/psychology/newpgcoursepages/msccognitiveneuroscience/cognitive%20neuroscience%20banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
